@page
@model IndexModel
@{
    ViewData["Title"] = "Lab1";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Michael Donati, Phillip Grimes, and Abby Stavridis Lab 2</p>
    <a href="LogIn">Sign in to account</a>
</div>
