@page
@model IndexModel
@{
    ViewData["Title"] = "Lab1";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Michael Donati, Phillip Grimes, Abby Stavridis, Drew Mozingo, Layla Cheeks Lab 3</p>
    <a href="LogIn">Log in to account</a>
</div>
