@page
@model IndexModel
@{
    ViewData["Title"] = "Lab1";
}


<header style="text-align: center; padding: 10px;">
    <h1>JMU Care</h1>
</header>

<div class="text-center">
    <h2 class="display-4">Welcome</h2>
    <a asp-page="/Login" class="btn btn-primary position-relative">Login</a>
    <br />
    <a asp-page="/AccountSignUp" class="btn btn-secondary position-relative">Sign Up</a>
</div>
