@page
@model IndexModel
@{
    ViewData["Title"] = "Lab1";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Michael Donati and Phillip Grimes Lab1 Part3</p>
    <a href="DashBoard">Go to Dashboard</a>
</div>
