@page
@model Lab1484.Pages.ProjectCreationModel
@{
	<h1>Create a Project</h1>
	<p>Please complete all forms</p>
	//Project Name (textbox)

	//Project Admin (drop down)

	//Project Cost (textbox)

	//Due Date (textbox (include formatting guidelines))

	//Assign Employees (radiobuttons or dropdown that allows multiple selections)

	//Project Status (radiobuttons)


}
