@page
@model Lab1484.Pages.SentMessageModel
@{
}

<h1>Sent Messages</h1>
<h2>
    <a asp-page="Message" class="btn btn-secondary">Received Items</a>
    <a asp-page="NewMessage" class="btn btn-secondary">New Message</a>
</h2>
<table class="table">
    <thead>
        <tr>
            <th>Receiver</th>
            <th>Message</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model.Messages)
        {
            <tr>
                <td>@message.Receiver</td>
                <td>@message.Content</td>
                <td>@message.SentDate</td>
            </tr>
        }
    </tbody>
</table>