@page
@model Lab1484.Pages.UpdateProjectModel
@{
	@Model.UpdateProj.ProjectID
	<h2>Edit Project: @Model.UpdateProj.ProjectName</h2>
	<form id="UpdateProject" asp-page="UpdateProject" method="post">
		@*//Project Name (textbox)*@
		Project Name
		<br />
		<input type="text" asp-for="UpdateProj.ProjectName" />
		<span asp-validation-for="@Model.UpdateProj.ProjectName" class="text-danger"></span>
		<br />
		<br />

		@*//Due Date (textbox with special perms)*@
		Due Date
		<br />
		<input type="date" asp-for="UpdateProj.DateDue" />
		<br />
		<br />

		@*//Project Status (Radio Button)*@
		Project Status
		<div>
			<input type="radio" asp-for="UpdateProj.ProjectStatus" value="Incomplete" /> Incomplete
		</div>
		<div>
			<input type="radio" asp-for="UpdateProj.ProjectStatus" value="In Progress" /> In Progress
		</div>
		<div>
			<input type="radio" asp-for="UpdateProj.ProjectStatus" value="Completed" /> Complete
		</div>
		<input type="submit" value="Edit Project" />
	</form>
}