@page
@model Lab1484.Pages.UpdateProjectModel
@{
    <link href="~/css/style.css" rel="stylesheet">

    <br />
    <h2>Edit Project: @Model.UpdateProj.ProjectName</h2>
    <br />

    <form id="UpdateProject" asp-page="UpdateProject" method="post">
        <input type="hidden" asp-for="UpdateProj.ProjectID" />

        @* Project Name (textbox) *@
        <div class="mb-3">
            <label asp-for="UpdateProj.ProjectName" class="form-label">Project Name</label>
            <input asp-for="UpdateProj.ProjectName" class="form-control w-25" />
            <span asp-validation-for="UpdateProj.ProjectName" class="text-danger"></span>
        </div>

        @* Due Date (textbox) *@
        <div class="mb-3">
            <label asp-for="UpdateProj.DateDue" class="form-label">Date Due</label>
            <input asp-for="UpdateProj.DateDue" class="form-control w-50" />
            <span asp-validation-for="UpdateProj.DateDue" class="text-danger"></span>
        </div>

        @* Project Status (Radio Button) *@
        <div class="mb-3">
            <label class="form-label">Project Status</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="UpdateProj.ProjectStatus" value="Incomplete" id="statusIncomplete" />
                <label class="form-check-label" for="statusIncomplete">Incomplete</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="UpdateProj.ProjectStatus" value="In Progress" id="statusInProgress" />
                <label class="form-check-label" for="statusInProgress">In Progress</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="UpdateProj.ProjectStatus" value="Completed" id="statusCompleted" />
                <label class="form-check-label" for="statusCompleted">Completed</label>
            </div>
        </div>

        <input type="submit" asp-page-handler="UpdateProjectPost" value="Edit Project" />
    </form>
}