.nav-item {
    padding: 10px;
    width: 100%;
}

.nav-active {
    background-color: #DACCE6;
    color: #B599CE;
    border-radius: 100px;
}

.nav-item .nav-link.active {
    background-color: #DACCE6;
    color: #B599CE;
    border-radius: 100px;
}

    .nav-item .nav-link.active:hover,
    .nav-item .nav-link.active:focus {
        background-color: #DACCE6;
        color: #B599CE;
        border-radius: 100px;
    }


.btn-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: #333333;
    --bs-btn-bg: #B599CE;
    --bs-btn-border-color: #B599CE;
    --bs-btn-hover-color: #333333;
    --bs-btn-hover-bg: #DACCE6;
    --bs-btn-hover-border-color: #B599CE;
    --bs-btn-focus-shadow-rgb: 218, 204, 230;
    --bs-btn-active-color: #333333;
    --bs-btn-active-bg: #B599CE;
    --bs-btn-active-border-color: #B599CE;
}

.btn-secondary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: #CBB677;
    --bs-btn-bg: #FFFFFF;
    --bs-btn-border-color: #CBB677;
    --bs-btn-hover-color: #FFFFFF;
    --bs-btn-hover-bg: #CBB677;
    --bs-btn-hover-border-color: #CBB677;
    --bs-btn-focus-shadow-rgb: 244, 239, 225;
    --bs-btn-active-color: #FFFFFF;
    --bs-btn-active-bg: #CBB677;
    --bs-btn-active-border-color: #CBB677;
}

.btn-outline-danger {
    --bs-btn-font-weight: 600;
}

.grantstatus {
    background-color: #D2EBF5;
}